@import url('https://fonts.googleapis.com/css?family=Roboto 100,200,300,400,500,600,700;|Exo:100,200,300,400,500,600,700');
/*===============general styles==============*/
body {
    background-color: #e8eded;
}

h1 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
}
h2 {
    font-size: 25px;
    font-family: 'Exo', sans-serif;
    font-weight: 300;
}
h3 {
    font-size: 18px;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
}
h4 {
    font-size: 16px;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
}
h5 {
    font-size: 16px;
    font-family: 'Exo', sans-serif;
    color: white;
     font-weight: 500;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
/*===============section styles==============*/
.section {
	border-bottom: 3px double white;
     margin: auto;
    display: block;
}
.section-header {
    background-color: #dfe3ee; 
    padding-top: 10px;
    padding-bottom: 10px;
     margin: auto;
    display: block;
   
}
/*===============gender selector styles==============*/
#gender-selector {
	display: block;	
	float: none;
	margin: auto;
}
/*===============number box and font awesome gender styles==============*/
.number-box, .fa.fa-gender {
    font-size: 25px;
    font-weight: 500;
    display: inline-block;
    margin-left: 75px;
}
.fa-female {
    color: DarkRed;
}
.fa-male {
    color: CadetBlue;
}
.gender {
    font-weight: 400;     
}
/*===============criteria key button additional styles==============*/
.btn-info {
    border-radius: 50%;
    border: none;
    color: black;
    font-weight: 400;
}
/*===============overide bootstrap styles==============*/
.btn-info:focus {
     box-shadow: none;
     outline: none;
     color: black;
}
/*===============criteria key styles==============*/
.text-info {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: white;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
/*===============footer styles==============*/
footer {
    background-color: #8b9dc3;
    color: white;
    padding: 0;
}
.fa-download {
	width: 24px;
    height: 24px;
    padding: 5px;
    border-radius: 50%;
    font-size: 1.0em;
    line-height: 12px;
    color: #fafafa;
    background:  #FF6347;
     -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}
.fa-download:hover {
	background: #6495ED;
}
a {
	font-family: "Exo", sans-serif;	 
	font-weight: 500;
	color: white;
	text-align: center;
	padding-left: 2px;
}
a:hover{
  	background: #dfe3ee	;  
}
.wrapper {

  position: relative;
   margin: auto;
  height: 30vh;
  width: 100vw;
  display: block;
}
.custom-chart {
  position: absolute;
  width: 100%;
  height: 100%;
}
